//
// Timeline Styles //
//
.timeline-wrapper {
	position: relative;
	padding-left: 30px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background: $border-grey;
		width: 1px;
		height: 100%;
	}
	.timeline {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		.timeline-date {
			position: relative;
			h1, h2, h3, h4, h5, h6 {
				&:before {
					content: '';
		   		position: absolute;
		   		top: 50%;
		   		left: -34px;
		   		@include transform(translateY(-50%));
		   		background: $color-dark;
		   		width: 8px;
		   		height: 8px;
		   		border-radius: 50%;
				}
			}
		}
	}
}
@include breakpoint-less(sm) {
	.timeline-wrapper {
		padding-left: 20px;
		.timeline {
			.timeline-date {
				h1, h2, h3, h4, h5, h6 {
					&:before {
						left: -24px;
					}
				}
			}
		}
	}
}
